/* class = "label" used on graph */
/* .label {
  text-align: center;
  color: black;
  font-size: 2.0vw;
  font-family: 'Arial';
  text-anchor: left;
}
.label-small {
  text-align: center;
  color: black;
  font-size: 1.5vw;
  font-family: 'Arial';
  text-anchor: left;
  letter-spacing: -1px;
} */

h1, h2, h3  {
    text-align: center;
}
h4, h5, h6 {
    text-align: left;
}
body {
    /* background-color: rgb(221, 233, 238); */
    font-family: 'Arial'; 
    /* font-size: 2.0vw; */
    /* margin: 20; */

}

/* Media query for smaller screens */
@media (max-width: 768px) {
  body {
      font-size: 10px; /* Decrease font size for smaller screens */
  }
  .button {
    font-size: 10px; /* Decrease font size for smaller screens */
  }
}

/* Media query for larger screens */
@media (min-width: 1200px) {
  body {
      font-size: 15px; /* Increase font size for larger screens */
  }
  .button {
    font-size: 10px; /* Decrease font size for smaller screens */
  }
}
/* body, html {
  margin: 0;
  padding: 0;
 
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* svg {
  border: 1px solid black; 
}
svg_rank {
  border: 1px solid black;
} */

.button {
    display: inline-block;
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    background-color: #b2cfe8; /* Green */
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 12px; 
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 2px 2px 5px 2px;
  }
  
  .button:hover {
    background-color: #1b72a5; /* Darker green */
  }

  #chart_problems {
    padding: 10px;
    width: 400px;
    margin-left: 20px;
  }
  .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 9999;
  }
  /* CSS for the close button */
  .popup-close {
    position: absolute;
    bottom: 20px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    background: none;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #333;
    padding: 5px 10px;
}



/* CSS for the file buttons */
.file-buttons {
  display: flex;
  align-items: center;
}

.file-buttons .button {
  margin-right: 8px; /* Adjust as needed */
}


/* CSS for the file legend */
#legend-container {
  overflow-x: auto;
  white-space: nowrap;
}

#legend-pages {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

#legend-pages li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#legend-pages li div {
  margin: 2px;
  padding: 2px;
  border: none;
}

